html,body{
  height: 100%;
}

.background {
  background: linear-gradient(to bottom right, #ECA7FF, #7D23FF);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 240px;
  height: 240px;
  background: #fff;
  border-radius: 60px;
  box-shadow: 0px 18px 54px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.console-bg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 6px 10px rgba(0,0,0,0.5);
  background: linear-gradient(to bottom right, #E500E7, #00D7FF);
  opacity: 0.35;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -93px 0 0 -100px;  
}

.console {
  width: 184px;
  height: 184px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #E500E7, #00D7FF);
  postion: absolute;
}

.off {
  width: 12px;
  height: 12px;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 12px;
  margin-top: -6px;
}

.on {
  width: 13px;
  height: 13px;
  background: rgba(250,255,255,0.6);
  border-radius: 50%;
  position: relative;
  top: 50%;
  right: -100%;
  margin-top: -13px;
  margin-left: -26px;
}

.knob {
  width: 76px;
  height: 76px;
  background: radial-gradient(#FCF2FC, #FFDBFF);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -36px 0 0 -38px;
  border-radius: 50%;
  box-shadow: 0px -2px 10px #F6DDF7 inset;
}

.knob-bg {
  width: 80px;
  height: 80px;
  background: #F6DDF7;
  position: relative;
  top: 50%;
  left: 50%;
  margin: -46px 0 0 -40px;
  border-radius: 50%;
  box-shadow: 0px 1px 60px rgba(0,0,0,0.6);
  transform: rotate(0deg);
  transition: transform 3s;
}

.knob-bg:hover {
  cursor: pointer;
}

.direction {
  width: 10px;
  height: 2px;
  background: #CF78E0;
  position: relative;
  top: 50%;
  right: -10px;
  border-radius: 30%;
  box-shadow: 0 -1px 1px rgba(0,0,0,0.3) inset；
}

.rotate-on {
  transform: rotate(180deg);
}