---
layout: default
---


<div class="content">
    {% for post in site.posts %}  
        {% capture y %}{{ post.date | date: "%Y"}}{% endcapture %}
        {% if year != y %}
            {% assign year = y %}
            <h3 class="year">{{ year }}</h3>
        {% endif %}
        <ul class="article-list">
            <li>
                <small>{{ post.date | date: "%Y-%m-%d" }}</small>
                <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            </li>
        </ul>
    {% endfor %}
</div>





  <!-- <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->