<footer>
    <p>© 2015 designed by <a href="http://runfastlynda.com/">runfastlynda<a></p>
    <p>
        <a href="https://github.com/runfastlynda" class="iconfont social github">&#xe69f;</a>
        <i href="" class="iconfont social twitter">&#xe64f;</i>
        <i href="" class="iconfont social weibo">&#xe603;</i>
    </p>
</footer>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $("#back-top").hide()

        $(function(){
            $(window).scroll(function(){
                if($(this).scrollTop() > 100){
                    $('#back-top').fadeIn();
                } else {
                    $('#back-top').fadeOut();
                }
            });
            $('#back-top a').click(function(){
                $('body, html').animate({
                    scrollTop: 0
                }, 800);

                return false;
            });
        });
    });
</script>

