<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">

  <h3>
    Author
  </h3>

  <p>
    <div class="media">
      <img src="https://avatars1.githubusercontent.com/u/10364044?v=3&s=100" alt="Lynda Chai" class="pull-left">
      <div class="media-body">
        <h4 class="media-heading">Lynda Chai</h4>
      </div>
    </div>
  </p>

  <!-- <p><a href="https://twitter.com/ellekasai" class="twitter&#45;follow&#45;button" data&#45;show&#45;screen&#45;name="false" data&#45;show&#45;count="true" data&#45;dnt="true" data&#45;size="large">Follow @ellekasai</a></p> -->

</div>

<!-- <h3> -->
<!--   Shiori is Customizable! -->
<!-- </h3> -->
<!--  -->
<!-- <p><button data&#45;purplecoat&#45;toggle="shiori" class="btn btn&#45;default"><i class="fa fa&#45;toggle&#45;on"></i> Toggle Customizable Sections</button></p> -->
<!--  -->
<!-- <p>&#38;uarr; Powered by <a href="http://ellekasai.github.io/purplecoat.js" target="_blank">Purplecoat</a>.</p> -->
