@charset "UTF-8";
@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  /* IE9*/
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: Lato, "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-size: 16px;
  background: #fff; }

a {
  text-decoration: none;
  color: #333; }

a:hover, a:active, a:focus {
  text-decoration: underline; }

.la-logo {
  margin: 0 auto;
  width: 0px;
  height: 0px;
  overflow: hidden; }

.la-maozi {
  color: #E36655; }

.la-header {
  width: 100%;
  height: 400px;
  text-align: center;
  overflow: hidden;
  background: linear-gradient(to right bottom, #81ABF1 0, #F082DA 100%); }

.la-animation {
  position: absolute;
  top: 155px;
  left: 60px;
  width: 320px;
  height: 260px;
  text-align: center;
  border-radius: 10px; }
  .la-animation .la-animation-frame {
    position: absolute;
    top: 55px;
    left: 75px;
    width: 60px;
    height: 60px;
    background: #fff;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px; }
  .la-animation .la-animation-table {
    position: absolute;
    top: 235px;
    width: 320px;
    height: 10px;
    background: #f4d3b3; }
  .la-animation .la-animation-bowl {
    position: absolute;
    top: -25px;
    left: 260px;
    width: 50px;
    height: 25px;
    background: #fff;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px; }
  .la-animation .la-animation-cable {
    position: absolute;
    top: -100px;
    left: 26px;
    width: 3px;
    height: 100px;
    background: #fff; }
  .la-animation .la-animation-leaf-1 {
    position: absolute;
    left: 2px;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    background: #abd9b5;
    animation: fly 1s infinite alternate ease-in-out;
    transform-style: preserve-3d;
    transform: rotateX(-30deg); }
  .la-animation .la-animation-leaf-2 {
    position: absolute;
    top: 25px;
    left: -20px;
    width: 20px;
    height: 20px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #abd9b5;
    animation: fly 1s infinite alternate ease-in-out;
    transform-style: preserve-3d;
    transform: rotateX(-30deg); }
  .la-animation .la-animation-leaf-3 {
    position: absolute;
    top: 50px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    background: #abd9b5;
    animation: fly 1s infinite alternate ease-in-out;
    transform-style: preserve-3d;
    transform: rotateX(-30deg); }
  .la-animation .la-animation-leaf-4 {
    position: absolute;
    top: 75px;
    left: -20px;
    width: 20px;
    height: 20px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #abd9b5;
    animation: fly 1s infinite alternate ease-in-out;
    transform-style: preserve-3d;
    transform: rotateX(-30deg); }
  .la-animation .la-animation-notebook {
    position: absolute;
    top: -80px;
    left: 115px;
    width: 120px;
    height: 75px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #fff; }
  .la-animation .la-animation-notebook::after {
    position: absolute;
    top: 70px;
    left: -10px;
    width: 140px;
    height: 10px;
    background: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    content: ""; }
  .la-animation .la-animation-apple {
    position: absolute;
    top: 30px;
    left: 45px;
    width: 30px;
    height: 25px;
    background: #eee;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; }
  .la-animation .la-animation-apple::before {
    position: absolute;
    top: -10px;
    left: 15px;
    width: 3px;
    height: 15px;
    background: #eee;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    content: ""; }
  .la-animation .la-animation-apple::after {
    position: absolute;
    top: -10px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #eee;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 15px;
    content: ""; }
  .la-animation .la-animation-book-1 {
    position: absolute;
    top: -10px;
    left: 20px;
    width: 70px;
    height: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid #abd9b5;
    border-right: 0;
    background: #fff; }
  .la-animation .la-animation-book-2 {
    position: absolute;
    top: -18px;
    left: 15px;
    width: 70px;
    height: 3px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #f8b899; }
  .la-animation .la-animation-book-3 {
    position: absolute;
    top: -14px;
    left: 25px;
    width: 70px;
    height: 3px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #f8b899; }
  .la-animation .la-animation-coffee {
    position: absolute;
    top: -50px;
    left: 30px;
    width: 50px;
    height: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #fff; }
  .la-animation .la-animation-coffee::after {
    position: absolute;
    top: 3px;
    left: -15px;
    width: 22px;
    height: 18px;
    border-bottom-right-radius: 30px;
    border: 4px solid #fff;
    border-top: 0;
    box-sizing: border-box;
    transform: rotate(-270deg);
    content: ""; }
  .la-animation .la-animation-smoke {
    position: absolute;
    top: -25px;
    left: 20px;
    width: 5px;
    height: 17px;
    background: #fff;
    border-radius: 10px;
    opacity: 0.9;
    animation: fly 1s infinite alternate ease-in-out; }
  .la-animation .la-animation-smoke::after {
    position: absolute;
    top: -7px;
    left: 5px;
    width: 5px;
    height: 15px;
    background: #fff;
    border-radius: 10px;
    opacity: 0.9;
    content: ""; }
  .la-animation .la-animation-me {
    position: absolute;
    top: 90px;
    left: 125px; }
  .la-animation .la-animation-me-body {
    position: absolute;
    top: 50px;
    width: 100px;
    height: 65px;
    border-radius: 50%;
    background: #f8b899; }
  .la-animation .la-animation-me-head {
    position: absolute;
    top: -17px;
    left: 25px;
    width: 45px;
    height: 65px;
    z-index: 1; }
  .la-animation .la-animation-face {
    position: absolute;
    width: 45px;
    height: 65px;
    border-radius: 25px;
    background: #fff; }
  .la-animation .la-animation-hair {
    position: absolute;
    left: -10px;
    width: 60px;
    height: 65px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #666;
    z-index: 0; }
  .la-animation .la-animation-hair-front {
    position: absolute;
    width: 55px;
    height: 40px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background: #666;
    animation: up 3s infinite; }
  .la-animation .la-animation-eyee-1 {
    position: absolute;
    top: 40px;
    left: 12px;
    width: 3px;
    height: 3px;
    background: #000;
    border-radius: 10px;
    animation: blink 1s infinite alternate ease-in-out; }
  .la-animation .la-animation-eyee-1::before {
    position: absolute;
    top: -5px;
    left: -4px;
    width: 8px;
    height: 2px;
    background: #666;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    content: ""; }
  .la-animation .la-animation-eyee-2 {
    position: absolute;
    top: 40px;
    left: 32px;
    width: 3px;
    height: 3px;
    background: #000;
    border-radius: 10px;
    animation: blink 1s infinite alternate ease-in-out; }
  .la-animation .la-animation-mouth {
    position: absolute;
    top: 55px;
    left: 19px;
    width: 10px;
    height: 3px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 2px solid #f8b899;
    border-top: 0;
    box-sizing: border-box;
    animation: smile 5s infinite; }

@-webkit-keyframes up {
  0% {
    transform: translateY(0px); }
  25% {
    transform: translateY(-2px); }
  50% {
    transform: translateY(0px); }
  75% {
    transform: translateY(-2px); }
  100% {
    transform: translateY(0px); } }

@keyframes up {
  0% {
    transform: translateY(0px); }
  25% {
    transform: translateY(-2px); }
  50% {
    transform: translateY(0px); }
  75% {
    transform: translateY(-2px); }
  100% {
    transform: translateY(0px); } }

@-webkit-keyframes smile {
  0% {
    transform: scaleX(1); }
  25% {
    transform: scaleX(1); }
  50% {
    transform: scaleX(1.5); }
  75% {
    transform: scaleX(1.5); }
  100% {
    transform: scaleX(1); } }

@keyframes smile {
  0% {
    transform: scaleX(1); }
  25% {
    transform: scaleX(1); }
  50% {
    transform: scaleX(1.5); }
  75% {
    transform: scaleX(1.5); }
  100% {
    transform: scaleX(1); } }

@-webkit-keyframes blink {
  0% {
    background-color: #000; }
  25% {
    background-color: #000; }
  50% {
    background-color: #000; }
  75% {
    background-color: #000; }
  100% {
    background-color: #fff; } }

@keyframes blink {
  0% {
    background-color: #000; }
  25% {
    background-color: #000; }
  50% {
    background-color: #000; }
  75% {
    background-color: #000; }
  100% {
    background-color: #fff; } }

@-webkit-keyframes fly {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(2px); } }

@keyframes fly {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(2px); } }

.la-follow {
  position: absolute;
  top: 40px;
  right: 50px;
  z-index: 100; }
  .la-follow a:hover {
    text-decoration: none; }
  .la-follow i {
    font-size: 32px;
    margin-left: 13px;
    color: #fff; }

.la-header-title {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 400px; }
  .la-header-title h1 {
    font-size: 40px;
    display: block;
    margin: 138px 0 15px;
    color: #fff;
    letter-spacing: 1px; }
  .la-header-title p {
    font-size: 20px;
    color: #fff; }

.la-header-title h1, .la-header-title p {
  line-height: 1.4;
  color: #fff;
  text-shadow: 0 3px 1px rgba(0, 0, 0, 0.1); }

.la-load {
  width: 100px;
  margin: 30px auto -30px;
  text-align: center; }
  .la-load .la-round {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: #B498E6; }
  .la-load .la-round:nth-last-child(1) {
    animation: loading .6s .1s linear infinite; }
  .la-load .la-round:nth-last-child(2) {
    animation: loading .6s .2s linear infinite; }
  .la-load .la-round:nth-last-child(3) {
    animation: loading .6s .3s linear infinite; }

@-webkit-keyframes loading {
  0 {
    transform: translate(0, 0); }
  50% {
    transform: translate(0, 15px); }
  100% {
    transform: translate(0, 0); } }

@keyframes loading {
  0 {
    transform: translate(0, 0); }
  50% {
    transform: translate(0, 15px); }
  100% {
    transform: translate(0, 0); } }

.la-projects {
  padding: 50px 26px 26px; }

.la-project {
  width: 33%;
  padding: 0 25px;
  margin-bottom: 100px;
  display: inline-block;
  box-sizing: border-box; }
  .la-project .la-visit, .la-project .la-title {
    color: #fff;
    font-weight: 700; }
  .la-project .la-preview {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative; }
  .la-project .la-preview::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 25;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0, #B996E5 100%); }
  .la-project .la-preview:hover .la-screenshot {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }
  .la-project .la-preview:hover .la-title {
    opacity: 0; }
  .la-project .la-preview:hover .la-visit {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  .la-project .project-img img {
    max-width: 100%; }
  .la-project .la-screenshot {
    transition: -webkit-transform 0.3s cubic-bezier(0.694, 0.0482, 0.335, 1);
    transition: transform 0.3s cubic-bezier(0.694, 0.0482, 0.335, 1);
    margin-top: -20px;
    width: 100%; }
  .la-project .la-visit {
    transition: -webkit-transform 0.3s cubic-bezier(0.694, 0.0482, 0.335, 1);
    transition: transform 0.3s cubic-bezier(0.694, 0.0482, 0.335, 1);
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 15px;
    background-color: #B996E5;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    z-index: 75; }
  .la-project .la-title {
    font-size: 21px;
    letter-spacing: 0;
    line-height: 1.45;
    text-transform: none;
    margin: 0;
    text-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 20px;
    left: 22px;
    right: 20px;
    z-index: 50;
    transition: opacity 0.3s cubic-bezier(0.694, 0.0482, 0.335, 1); }
  .la-project .la-stat, .la-project .la-projects-results-term {
    text-transform: uppercase; }
  .la-project .la-info {
    margin-top: 24px; }
  .la-project .la-description {
    display: block;
    font-size: 13px;
    color: #555;
    margin-bottom: 0;
    line-height: 2.2; }
  .la-project .la-stats {
    font-size: 0;
    margin-bottom: 12px; }
  .la-project .la-stat {
    font-size: 9px;
    letter-spacing: 1px;
    color: #fff;
    line-height: 26px;
    padding: 0 10px;
    margin: 0 3px;
    display: inline-block;
    transition: all .2s; }
  .la-project .la-stat:focus, .la-project .la-stat:hover {
    color: #fff; }
  .la-project .la-github {
    background-color: #3499e0; }
  .la-project .la-demo {
    background-color: #f9b644; }
  .la-project .la-blog {
    background-color: #F95C44; }
  .la-project .la-tags {
    font-size: 12px;
    line-height: 20px;
    color: #8f8f8f;
    display: block; }
  .la-project .la-tags strong {
    color: #555; }
  .la-project .la-icon {
    font-size: 16px;
    color: #b2b2b2;
    line-height: 22px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: top; }
  .la-project .la-tag {
    color: #8f8f8f;
    transition: none; }
  .la-project .la-tag:hover {
    color: #23284E; }

.la-projects:after, .la-projects:before {
  content: " ";
  display: table; }

.la-load-more {
  padding: 30px;
  margin: 30px auto;
  text-align: center; }
  .la-load-more .la-load-more-btn {
    padding-left: 0;
    padding-right: 0;
    width: 200px;
    margin: 0 auto;
    color: #B996E5;
    border: 1px solid #B996E5;
    background-color: transparent;
    transition: all 250ms ease-in-out;
    font-size: 16px;
    font-weight: 700;
    text-transform: none;
    height: 50px;
    line-height: 50px;
    letter-spacing: 0;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    z-index: 0; }
  .la-load-more .la-load-more-btn:hover {
    color: #fff;
    border-color: #B996E5;
    background-color: #B996E5; }

.la-footer {
  background: linear-gradient(to left top, #81ABF1 0, #F082DA 100%);
  height: 75px;
  padding: 0 50px;
  color: #fff; }
  .la-footer span {
    display: block;
    line-height: 75px; }
  .la-footer a {
    color: #fff; }
  .la-footer i {
    font-size: 18px;
    margin-left: 2px;
    margin-right: 2px; }

@media (max-width: 1025px) {
  .la-projects {
    padding: 30px 15px 0; }
  .la-project {
    padding: 0;
    width: 100%;
    margin-bottom: 60px; }
    .la-project .la-title {
      -webkit-transform: translateY(-75px);
      -ms-transform: translateY(-75px);
      transform: translateY(-75px); }
    .la-project .la-preview .la-screenshot {
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      transform: translateY(-20px); }
    .la-project .la-preview .la-visit {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
    .la-project .la-preview:hover .la-title {
      opacity: 1; }
    .la-project .la-stat {
      font-weight: 700; } }

@media (min-width: 600px) and (max-width: 1025px) {
  .la-load {
    margin: 20px auto 6px; }
  .la-projects {
    padding-top: 30px; }
  .la-project {
    margin-bottom: 40px; }
  .la-header-title h1 {
    font-size: 32px;
    margin: 100px 0 15px; }
  .la-header-title p {
    font-size: 18px; }
  .la-follow {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100; }
    .la-follow i {
      font-size: 26px;
      margin-left: 8px;
      color: #fff; }
  .la-animation {
    left: 50%;
    margin-left: -160px; } }

@media (max-width: 600px) {
  .la-header {
    height: 310px; }
  .la-header-title h1 {
    font-size: 26px;
    margin: 80px 0 12px; }
  .la-header-title p {
    font-size: 14px; }
  .la-follow {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100; }
    .la-follow i {
      font-size: 24px;
      margin-left: 8px;
      color: #fff; }
  .la-load {
    margin: 20px auto 15px; }
  .la-projects {
    padding-top: 15px; }
  .la-project {
    margin-bottom: 30px; }
    .la-project .la-title {
      font-size: 18px;
      left: 16px;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px); }
    .la-project .la-visit {
      display: none;
      height: 40px;
      line-height: 40px; }
    .la-project .la-preview .la-screenshot {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
    .la-project .la-info {
      margin-top: 16px; }
  .la-animation {
    top: 89px;
    left: 50%;
    margin-left: -160px;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8); }
  .la-footer {
    font-size: 14px;
    padding: 0 20px;
    text-align: center; }
    .la-footer i {
      font-size: 16px; } }
