*{
	font-weight: normal;
}
body {
	background: url(10.jpg),repeat;
	font-weight: normal;
	text-align: center;
	font: 15px/1.7 arial,"Microsoft YaHei","Tahoma","Hiragino Sans GB","sans-serif";
	color: #555;
}

p {
	text-align: center;
}
h1{
	border-bottom: #555 6px dashed ;
	line-height: 10px;
	height: 45px;
	font-weight: normal;
}
h2{
	font-weight: normal;
}
img {
	display: block;
	margin: 0px auto;
	width: 200px; 
	height: 200px;
}
.weixin{
	width: 160px;
	float: right;
 	margin-right: -165px;
	font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
 
}
.weixin img{
	width: 120px;
	height: 120px;
}
.lynda{
	margin: 40px auto;
	background:url(http://7xklz5.com1.z0.glb.clouddn.com/9.png),repeat;
	width: 730px;
	border-width: 6px;
	border-radius: 20px;
	border-color: black;
	border-style: dashed;
	padding: 20px;
}
.user{
	width: 760px;
	margin: 50px auto;
	margin-bottom: 0px;
}
.header{
	float:left;
	width: 260px;
	margin-left: 0px;
}
.tip1{
	float: right;
	width: 320px;
}
.cai{
	margin: 0 auto;
	width: 780px;
}
.left {
	float: left;
	width: 200px;
	margin: 20px;
}
.main {
	float: left;
	width: 200px;
	margin: 20px;
}
.right {
	float: left;
	width: 200px;
	margin: 20px;

}
.clear{
	clear:both;
}
.tip1{
	margin: 0 auto;
}

div#cu{
	color: #52BECE;
	font-size: 30px;
	margin: 30px auto;
}

span{
	color: #52BECE;
	font:40px;
}
#la{
	font-size: 21px;
}



 