body {
  background: url(http://7xklz5.com1.z0.glb.clouddn.com/about.1.1.jpg); background-size:100% 100%;background-repeat:no-repeat; 
  background-size: cover;
  font-family: 'Open Sans', sans-serif;;
}
.card {
  opacity: 0.85;
  width: 295px;
  height: 40%;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0 0 5px 3px rgba(0,0,0,0.1), 2px 2px 8px rgba(0,0,0,0.1);
  }
  .card-header {
    height: 130px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: url(http://7xklz5.com1.z0.glb.clouddn.com/about.4.png);
    background-size: cover;
  }
  .card-body {
    position: relative;
    }   
    .touxiang{
      height: 100px;
      width: 100px;
      border-radius: 50%;
      border: 3px solid rgba(255, 255, 255, .6);
      position: absolute;
      top: -50px;
      left: 50%;
      margin-left: -50px;
      box-shadow: 0 6px 6px -4px rgba(0, 0, 0, .2);
    }
    .name {
      font-size: 200%;
      text-align: center;
      padding-top: 60px;
      margin-bottom: 10px;
      color: #555;
    }
    .description {
      border-left: 4px #5E8189;
      padding: 5px 25px 0 25px;
      line-height: 1.5;
      text-align: left;
      margin-bottom: 25px;
    }
    .description p {
      border-left: solid 6px #4D7E89;
      padding-left: 8px;
    }
    .weixin{
      display: block;
      margin: 0 auto;
    }
    .location {
      margin-top: 20px;
      font-size: 12px;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: center;
    }

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);