
.wrap{
  position:relative;
}
.back{
  opacity: 0.4;
}
.front{
  position : absolute;
  top: -100px;
  left: 50%;
  margin:-200px 0 0 -100px;
  clip: rect(0px, 100px, 400px, 400px);
  transform: translate3d(0px, 0px, 1px);
}

.fadeIn .front{
  -webkit-animation: fadeIn 4s ease-in-out infinite alternate;
}

@-webkit-keyframes fadeIn {
  0%{
     clip:rect(400px, 400px, 200px, 0px);
  }
  100%{
     clip:rect(0px, 400px, 200px, 0px);
  }