body {
  background: #F8F8F8;
}

.robot {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

.robot-animation {
  background: url(robot-jump.jpg) no-repeat 0 0;
  background-size: auto 100%;
  height: 0;
  padding-bottom: 100%;
  margin-left: -30px;
  transition: none;
  -webkit-animation: walk 2s steps(59) infinite;
     -moz-animation: walk 2s steps(59) infinite;
       -o-animation: walk 2s steps(59) infinite;
          animation: walk 2s steps(59) infinite;
  -webkit-animation-play-state: paused;
     -moz-animation-play-state: paused;
       -o-animation-play-state: paused;
          animation-play-state: paused;
}

.robot .robot-animation {
  -webkit-animation-play-state: running;
     -moz-animation-play-state: running;
       -o-animation-play-state: running;
          animation-play-state: running;
}

.robot:hover {
  -webkit-animation: rainbow 4s steps(59) infinite;
}

@-webkit-keyframes walk {
  from { 
    background-position: 0 0; 
  }
  to { 
    background-position: 100% 0; 
  }
}

@-moz-keyframes walk {
  from { 
    background-position: 0 0; 
  }
  to { 
    background-position: 100% 0; 
  }
}

@-o-keyframes walk {
  from { 
    background-position: 0 0; 
  }
  to { 
    background-position: 100% 0; 
  }
}

@keyframes walk {
  from { 
    background-position: 0 0; 
  }
  to { 
    background-position: 100% 0; 
  }
}

@-webkit-keyframes rainbow {
  from { 
    -webkit-filter: hue-rotate(10deg); 
  }
  to { 
    -webkit-filter: hue-rotate(360deg); 
  }
}

@keyframes rainbow {
  from {
    -webkit-filter: hue-rotate(10deg);
            filter: hue-rotate(10deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}